.container {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 1rem;
    background-color: #fff;
    margin-bottom: 1rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 0.5rem;
  }
  
  input {
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
  
  button {
    background-color: #3586e2;  
    color: #080505;
    padding: 0.5rem 1rem;
    border: 1px solid black;
    cursor: pointer;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 0.5rem;
  }