body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    height: 100vh;
  }
  
  #root {
    flex: 1;
    height: 100%;
 
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 150px 1fr;
    min-height: 100vh;
  }
  
  .header {
    background-color: #3498db;
    padding: 20px;
    text-align: center;
    color: #ffffff;
    grid-row: 1 / 2;
    grid-column: 1 / -1; 
  }
  
  .formContainer {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    background-color: rgb(235, 155, 155);
  }
  
  .resumeContainer {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: rgb(119, 119, 224);
  }
  